In [63]:
import requests
key = 'W1x0upoG8ZmLyh5J5WhbaUhz4mQUC6Nv'
url = 'http://www.mapquestapi.com/geocoding/v1/address?key='
#loc='budigere,bangalore'
def locate(loc):
    main = url+key+'&location='+loc
    r=requests.get(main)
    data = r.json()['results'][0]['locations'][0]['latLng']['lat'],r.json()['results'][0]['locations'][0]['latLng']['lng'],r.json()['results'][0]['locations'][0]['postalCode']
    return data
#print(data)

In [83]:
import pandas as pd

df = pd.read_csv('Mumbai.csv')
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,Kharghar,1,1,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,Kharghar,1,1,1,0,0,1,0,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,Kharghar,1,1,1,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0

In [84]:
dic={}

In [85]:
unq = df.Location.unique()
unq[23]
len(unq)

413

In [86]:
for i in unq:
    dic[i] = locate(i)

In [87]:
lt=[]
lg=[]
for i in df['Location']:
  lt.append(dic[i][0])
  lg.append(dic[i][1])

In [88]:
lt

[19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 38.89037,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 38.89037,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 38.89037,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 38.89037,
 19.05103,
 19.05103,
 38.89037,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 38.89037,
 19.05103,
 19.05103,
 19.05103,
 38.89037,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.21326,
 18.93068,
 38.89037,
 19.14118,
 19.20789,
 19.18191,
 19.46979,
 19.46979,
 19.46979,
 19.45439,
 19.17938,
 19.22791,
 19.18191,
 19.27756,
 19.15612,
 19.15612,
 19.15612,
 19.22791,
 19.15612,
 19.17938,
 19.17938,
 19.20696,
 19.20696,
 19.20696,
 19.20696,
 19.22791,
 19.20696,
 19.20696,
 19.23497,
 19.15612,
 19.20696,
 19.15612,
 19.15612,
 19.18191,
 19.20696,
 19.20579,
 19.15612,
 19.15612,
 19.23497,
 19.10396,
 19.15612,
 19.16155,
 19.16155,
 19.18191,
 19.18191,
 19.18191,
 19.18191,
 19.22791,
 19.22791,
 19.17938,
 19.05103,
 19.97692,
 19.97692,
 18.97239,
 18.97239,
 18.97239,
 19.05103,
 19.17938,
 19.84774,
 19.20696,
 21.29924,
 21.29924,
 21.29924,
 21.29924,
 21.29924,
 19.16155,
 19.18191,
 19.18191,
 19.15626,
 38.89037,
 19.08303,
 19.13153,
 19.13153,
 19.22791,
 19.20579,
 19.24619,
 19.25891,
 19.18191,
 22.81945,
 18.99569,
 18.99818,
 18.99569,
 19.00758,
 18.99818,
 19.14064,
 19.14064,
 19.17938,
 19.06468,
 35.50313,
 19.04798,
 38.89037,
 -0.81416,
 -0.81416,
 -0.81416,
 19.41194,
 38.89037,
 38.89037,
 19.13436,
 38.89037,
 19.16155,
 28.26775,
 28.26775,
 19.09199,
 19.27626,
 19.09222,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 19.01898,
 38.89037,
 38.89037,
 21.26427,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 21.26427,
 38.89037,
 38.89037,
 19.01898,
 38.89037,
 19.01898,
 38.89037,
 19.01898,
 38.89037,
 38.89037,
 19.01898,
 19.01898,
 38.89037,
 38.89037,
 38.89037,
 19.09199,
 38.89037,
 19.0804,
 19.45152,
 19.04798,
 35.50313,
 19.04798,
 19.04798,
 19.04798,
 19.04798,
 38.89037,
 21.26427,
 38.89037,
 38.89037,
 19.01898,
 38.89037,
 19.01898,
 38.89037,
 19.01898,
 38.89037,
 38.89037,
 19.01898,
 19.01898,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 19.01867,
 19.01873,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 21.26427,
 25.33212,
 19.09199,
 38.89037,
 19.0804,
 19.45152,
 19.14064,
 19.04798,
 19.05404,
 19.04798,
 58.68003,
 20.69185,
 19.04187,
 19.05103,
 19.05103,
 19.20579,
 19.05103,
 19.09199,
 19.09199,
 19.09199,
 18.99818,
 19.18781,
 38.89037,
 19.16581,
 19.16581,
 19.19574,
 19.19574,
 19.19574,
 19.20642,
 46.7088,
 38.89037,
 38.89037,
 38.89037,
 46.7088,
 19.01676,
 19.01676,
 19.01676,
 38.89037,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 38.89037,
 38.89037,
 19.01676,
 19.01676,
 19.01676,
 38.89037,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 38.89037,
 19.01676,
 38.89037,
 29.78799,
 19.04455,
 20.60515,
 19.07315,
 19.70023,
 19.04798,
 19.05103,
 38.89037,
 38.89037,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 38.89037,
 38.89037,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 38.89037,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.08303,
 19.08303,
 19.17,
 19.15612,
 19.15612,
 19.40786,
 19.15429,
 25.27679,
 19.27626,
 19.18781,
 18.99821,
 19.23968,
 19.17144,
 19.20642,
 19.27414,
 19.17938,
 19.15612,
 19.17938,
 19.17938,
 19.17938,
 19.09162,
 19.15429,
 25.27679,
 19.23968,
 19.17144,
 19.27626,
 19.18781,
 18.99821,
 19.23968,
 19.35849,
 19.35849,
 19.19574,
 19.27756,
 19.20642,
 18.97239,
 38.89037,
 19.06395,
 38.89037,
 19.00885,
 18.97346,
 18.97346,
 18.97346,
 18.97346,
 18.97346,
 18.97346,
 19.06055,
 19.06055,
 38.89037,
 19.05472,
 38.89037,
 38.89037,
 18.97239,
 18.97239,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 19.05472,
 38.89037,
 38.89037,
 18.97239,
 18.97239,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 18.97239,
 18.97239,
 38.89037,
 19.00885,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 18.97239,
 18.97239,
 19.23306,
 19.09162,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 18.99821,
 18.97346,
 18.97346,
 18.97346,
 18.97346,
 18.97346,
 18.97346,
 19.23306,
 19.09162,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 19.29711,
 19.36621,
 19.42,
 19.42,
 19.36621,
 19.29711,
 19.42,
 19.29711,
 19.27756,
 19.29711,
 19.29711,
 19.29711,
 19.29711,
 19.29711,
 19.29711,
 19.29711,
 19.42,
 19.42,
 19.42,
 19.42,
 19.36621,
 19.36621,
 19.01359,
 19.84774,
 19.07856,
 19.07856,
 19.00758,
 38.89037,
 19.97692,
 19.97692,
 19.97692,
 19.97692,
 19.97692,
 19.20696,
 19.10396,
 19.16155,
 19.18191,
 19.01261,
 19.10396,
 19.44046,
 19.18781,
 19.10696,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.10696,
 19.10696,
 38.89037,
 38.89037,
 19.10531,
 19.10696,
 19.13153,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.18781,
 19.20696,
 19.09986,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 19.2004,
 22.50877,
 38.89037,
 38.89037,
 19.21819,
 19.21819,
 19.21819,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 22.50877,
 38.89037,
 38.89037,
 19.21819,
 19.21819,
 19.21819,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 19.21819,
 38.89037,
 19.21819,
 38.89037,
 19.21819,
 28.6841,
 38.89037,
 19.21819,
 19.21819,
 19.21819,
 38.89037,
 38.89037,
 19.21819,
 38.89037,
 38.89037,
 19.21819,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 19.21819,
 28.6841,
 28.6841,
 38.89037,
 38.89037,
 38.89037,
 28.6841,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 19.21819,
 19.21819,
 38.89037,
 19.21819,
 38.89037,
 38.89037,
 38.89037,
 19.20579,
 19.20579,
 19.20579,
 19.20579,
 38.89037,
 19.20832,
 19.20832,
 38.89037,
 38.89037,
 19.10531,
 19.10696,
 19.13153,
 19.28352,
 19.28352,
 19.28352,
 29.11931,
 26.88623,
 18.94018,
 19.28352,
 19.28352,
 19.28352,
 19.28352,
 19.28352,
 19.28352,
 19.28352,
 19.28352,
 19.28352,
 38.89037,
 38.89037,
 19.21819,
 19.21819,
 38.89037,
 19.21819,
 19.21819,
 28.6841,
 38.89037,
 38.89037,
 28.6841,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 28.6841,
 38.89037,
 38.89037,
 19.20579,
 38.89037,
 19.22836,
 19.22836,
 19.16581,
 -7.95009,
 38.89037,
 19.18781,
 19.05103,
 19.27626,
 19.17938,
 29.78799,
 29.78799,
 19.0804,
 19.0804,
 39.26051,
 38.89037,
 38.89037,
 19.22791,
 19.22791,
 19.01676,
 38.89037,
 19.15626,
 19.97692,
 19.97692,
 19.07856,
 19.17938,
 19.04565,
 19.84774,
 19.17938,
 19.18745,
 19.27626,
 19.24697,
 19.15642,
 19.20579,
 26.92029,
 38.89037,
 19.45439,
 19.27756,
 19.42,
 19.27756,
 19.27756,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.05103,
 19.20579,
 19.13153,
 38.89037,
 19.28352,
 19.16155,
 19.20579,
 19.20579,
 19.23497,
 19.17938,
 19.20696,
 19.20579,
 19.20696,
 19.20579,
 19.20579,
 19.20579,
 38.89037,
 19.15626,
 19.15626,
 18.97239,
 26.70306,
 19.27756,
 19.15612,
 18.99818,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 38.89037,
 30.68971,
 38.89037,
 38.89037,
 18.99821,
 19.01676,
 38.89037,
 19.15612,
 18.99818,
 28.64089,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.01676,
 19.36621,
 19.0915,
 38.89037,
 19.27626,
 18.96146,
 19.00758,
 20.90695,
 19.42,
 18.97239,
 26.70306,
 19.27756,
 19.15612,
 18.99818,
 28.64089,
 19.27626,
 19.24697,
 19.22791,
 19.22791,
 19.25891,
 19.00885,
 19.00885,
 19.00885,
 19.20579,
 38.89037,
 38.89037,
 19.17439,
 38.89037,
 19.22791,
 19.20696,
 19.09199,
 19.09199,
 35.94731,
 19.22791,
 19.23497,
 18.95131,
 19.22287,
 18.37034,
 38.89037,
 19.22367,
 19.22391,
 19.97692,
 19.97692,
 19.23497,
 20.90695,
 19.00758,
 18.99818,
 19.00758,
 19.00758,
 19.00758,
 38.89037,
 19.20579,
 19.20579,
 19.05103,
 38.89037,
 17.6559,
 38.89037,
 38.89037,
 30.68971,
 30.68971,
 38.89037,
 38.89037,
 30.68971,
 38.89037,
 38.89037,
 38.64427,
 38.89037,
 28.4909,
 28.4909,
 38.89037,
 38.89037,
 38.89037,
 19.95676,
 19.69882,
 ...]

In [89]:
df['lat'] = lt
df['lon'] = lg

In [90]:
df

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator,lat,lon
0,4850000,720,Kharghar,1,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,19.05103,73.07565
1,4500000,600,Kharghar,1,1,1,1,1,0,1,...,1,0,0,0,0,0,0,0,19.05103,73.07565
2,6700000,650,Kharghar,1,1,1,1,1,0,1,...,1,0,0,0,0,0,0,0,19.05103,73.07565
3,4500000,650,Kharghar,1,1,1,0,0,1,0,...,1,0,0,0,0,0,1,0,19.05103,73.07565
4,5000000,665,Kharghar,1,1,1,0,0,1,0,...,1,0,0,0,0,0,0,0,19.05103,73.07565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7714,14500000,1180,Mira Road East,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,19.27756,72.87069
7715,14500000,530,Naigaon East,1,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,19.35849,72.87529
7716,4100000,700,Shirgaon,1,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,19.15642,73.23447
7717,2750000,995,Mira Road East,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,19.27756,72.87069
7718,2750000,1020,Mira Road East,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,19.27756,72.87069

In [91]:
df.to_csv('mumbailoc.csv')