In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('MajorIndianCities.csv')

In [3]:
df

,Unnamed: 0,seller_type,bedroom,layout_type,property_type,locality,lat,lon,city,price,area,furnish_type,bathroom
0,0,OWNER,2.0,BHK,Apartment,Bodakdev,23.04124,72.51804,Ahmedabad,20000.0,1450.0,Furnished,2.0
1,1,OWNER,1.0,RK,Studio Apartment,CG Road,23.03557,72.55957,Ahmedabad,7350.0,210.0,Semi-Furnished,1.0
2,2,OWNER,3.0,BHK,Apartment,Jodhpur,26.26694,73.03049,Ahmedabad,22000.0,1900.0,Unfurnished,3.0
3,3,OWNER,2.0,BHK,Independent House,Sanand,22.98842,72.38665,Ahmedabad,13000.0,1285.0,Semi-Furnished,2.0
4,4,OWNER,2.0,BHK,Independent House,Navrangpura,23.03555,72.54621,Ahmedabad,18000.0,1600.0,Furnished,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193006,193006,OWNER,1.0,BHK,Apartment,Chinchwad,18.64742,73.80003,Pune,13250.0,650.0,Semi-Furnished,1.0
193007,193007,OWNER,1.0,RK,Studio Apartment,Wadgaon Sheri,18.53787,73.93266,Pune,7000.0,350.0,Unfurnished,1.0
193008,193008,OWNER,1.0,BHK,Apartment,Kothrud,18.50510,73.80242,Pune,8500.0,389.0,Semi-Furnished,1.0
193009,193009,AGENT,1.0,BHK,Apartment,Wakad,18.59563,73.75912,Pune,16500.0,670.0,Semi-Furnished,2.0
193010,193010,AGENT,2.0,BHK,Apartment,Alandi,59.34519,25.60116,Pune,12000.0,800.0,Unfurnished,2.0

In [8]:
lsst=[]

In [9]:
for i in df['price']:
    lsst.append(i*35*12)

In [10]:
print(len(lsst))

193011

In [11]:
df['Rate']=lsst

In [19]:
df.rename(columns = {'rent (Monthly)':'rent_Monthly'}, inplace = True)

In [20]:
df

,Unnamed: 0,seller_type,bedroom,layout_type,property_type,locality,lat,lon,city,rent_Monthly,area,furnish_type,bathroom,Rate
0,0,OWNER,2.0,BHK,Apartment,Bodakdev,23.04124,72.51804,Ahmedabad,20000.0,1450.0,Furnished,2.0,8400000.0
1,1,OWNER,1.0,RK,Studio Apartment,CG Road,23.03557,72.55957,Ahmedabad,7350.0,210.0,Semi-Furnished,1.0,3087000.0
2,2,OWNER,3.0,BHK,Apartment,Jodhpur,26.26694,73.03049,Ahmedabad,22000.0,1900.0,Unfurnished,3.0,9240000.0
3,3,OWNER,2.0,BHK,Independent House,Sanand,22.98842,72.38665,Ahmedabad,13000.0,1285.0,Semi-Furnished,2.0,5460000.0
4,4,OWNER,2.0,BHK,Independent House,Navrangpura,23.03555,72.54621,Ahmedabad,18000.0,1600.0,Furnished,2.0,7560000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193006,193006,OWNER,1.0,BHK,Apartment,Chinchwad,18.64742,73.80003,Pune,13250.0,650.0,Semi-Furnished,1.0,5565000.0
193007,193007,OWNER,1.0,RK,Studio Apartment,Wadgaon Sheri,18.53787,73.93266,Pune,7000.0,350.0,Unfurnished,1.0,2940000.0
193008,193008,OWNER,1.0,BHK,Apartment,Kothrud,18.50510,73.80242,Pune,8500.0,389.0,Semi-Furnished,1.0,3570000.0
193009,193009,AGENT,1.0,BHK,Apartment,Wakad,18.59563,73.75912,Pune,16500.0,670.0,Semi-Furnished,2.0,6930000.0
193010,193010,AGENT,2.0,BHK,Apartment,Alandi,59.34519,25.60116,Pune,12000.0,800.0,Unfurnished,2.0,5040000.0

In [21]:
df=df[[	'seller_type',"bedroom",'layout_type'	,"property_type"	,"locality",'lat'	,'lon','city'	,	"rent_Monthly",	'Rate','area',	'furnish_type',	'bathroom'	]]

In [22]:
df

,seller_type,bedroom,layout_type,property_type,locality,lat,lon,city,rent_Monthly,Rate,area,furnish_type,bathroom
0,OWNER,2.0,BHK,Apartment,Bodakdev,23.04124,72.51804,Ahmedabad,20000.0,8400000.0,1450.0,Furnished,2.0
1,OWNER,1.0,RK,Studio Apartment,CG Road,23.03557,72.55957,Ahmedabad,7350.0,3087000.0,210.0,Semi-Furnished,1.0
2,OWNER,3.0,BHK,Apartment,Jodhpur,26.26694,73.03049,Ahmedabad,22000.0,9240000.0,1900.0,Unfurnished,3.0
3,OWNER,2.0,BHK,Independent House,Sanand,22.98842,72.38665,Ahmedabad,13000.0,5460000.0,1285.0,Semi-Furnished,2.0
4,OWNER,2.0,BHK,Independent House,Navrangpura,23.03555,72.54621,Ahmedabad,18000.0,7560000.0,1600.0,Furnished,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193006,OWNER,1.0,BHK,Apartment,Chinchwad,18.64742,73.80003,Pune,13250.0,5565000.0,650.0,Semi-Furnished,1.0
193007,OWNER,1.0,RK,Studio Apartment,Wadgaon Sheri,18.53787,73.93266,Pune,7000.0,2940000.0,350.0,Unfurnished,1.0
193008,OWNER,1.0,BHK,Apartment,Kothrud,18.50510,73.80242,Pune,8500.0,3570000.0,389.0,Semi-Furnished,1.0
193009,AGENT,1.0,BHK,Apartment,Wakad,18.59563,73.75912,Pune,16500.0,6930000.0,670.0,Semi-Furnished,2.0
193010,AGENT,2.0,BHK,Apartment,Alandi,59.34519,25.60116,Pune,12000.0,5040000.0,800.0,Unfurnished,2.0

In [23]:
df.to_csv('IndianCities.csv')